body{
	margin: 0 auto;
	background: #fff;
	color: #000;
	font: 12px/14px arial, helvetica, sans-serif;
	min-width: 960px;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:visited, a:link, a:active{
	color: #000;
}
.wrapper {
	margin: 0 auto;
}
.header-top {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	border: red 1px dashed;
	margin-bottom: 30px;
}
.logo-img {
	box-sizing: border-box;
	width: 20%;
	border-radius: 50%;
	border: red 1px dashed;
}
.logo-text {
	padding-top: 110px;
	border: red 1px dashed;
	font-size: 45px;
}
.logo-description {
	display: flex;
	border: red 1px dashed;
	justify-content: center;
	font-size: 35px;
	margin-bottom: 30px;
}
.menu-nav {
	display: flex;
	justify-content: space-around;
	border: red 1px dashed;
	margin-bottom: 30px;
}
.menu-nav_link {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.menu-nav__link_item{
    margin-right: 56px;
    font: 800 20px/176% 'Mplus 1p',arial, helvetica, sans-serif;
    letter-spacing: 2.1px;
    color: #000;
}

