body{
	margin: 0 auto;
	background: #fff;
	color: #000;
	font: 12px/14px arial, helvetica, sans-serif;
	min-width: 960px;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:visited, a:link, a:active{
	color: #000;
}
.wrapper {
	margin: 0 auto;
	margin-left: 50px;
	margin-right: 50px;
}
.header-top {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-bottom: 30px;
}
.logo-img {
	box-sizing: border-box;
	width: 20%;
	border-radius: 50%;
}
.logo-text {
	padding-top: 110px;
	font-size: 45px;
}
.logo-description {
	display: flex;
	justify-content: center;
	font-size: 35px;
	margin-bottom: 30px;
}
.menu-nav {
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}
.menu-nav_link {
	display: flex;
    align-items: center;
    padding: 5px 0;
}
.menu-nav__link_item{
    margin-right: 56px;
    font-size: 20px;
}
.main-description {
	display: block;
    margin-left: auto;
    margin-right: auto;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 30px;
}
.main-description__item {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	font-weight: 800;
	padding-bottom: 10px;
}
.main__item-center {
	display: block;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
}
.footer_logo-rsschool-img {
	box-sizing: border-box;
	width: 10%;
}
.footer {
	display: flex;
	justify-content: space-around;
	background-color: gray;
	vertical-align: middle;
}
.footer__link-github, .footer__year, .footer__link-course {
	margin-top: 15px;
    font-size: 20px;
}