body{
	margin: 0 auto;
	background: #fff;
	color: #000;
	font: 12px/14px arial, helvetica, sans-serif;
	min-width: 960px;
}
/*=======General Reset=========*/
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:visited, a:link, a:active{
	color: #000;
}
/*=========General reset end=======*/